@model IEnumerable<Everlast.Models.Period>

@{
    ViewBag.Title = "PeriodsForAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PeriodsForAccount</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PeriodGuid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountGuid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StopDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodGuid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountGuid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StopDate)
        </td>
        <td>
            @Html.ActionLink("Details", "Read", new { periodGuid = item.PeriodGuid, accountGuid = item.AccountGuid }) |
            @Html.ActionLink("Delete", "Delete", new { periodGuid = item.PeriodGuid, accountGuid = item.AccountGuid })
        </td>
    </tr>
}

</table>
