@model IEnumerable<Everlast.ViewModels.PeriodViewModel>

@{
    ViewBag.Title = "Periods";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron jumbotron-slim">
    <div class="row">
        <div class="col-lg-12">
            <h2>Periods</h2>
            <p>
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-sm btn-outline-dark" })
                @Html.ActionLink("Dashboard", "Home", "Account", null, new { @class = "btn btn-sm btn-outline-dark" })
            </p>
        </div>
        <div class="col-lg-12">
            <div class="form-row">
                <div class="col-md-3">
                    <label for="ddlInjectors" class="col-form-label">Injector</label>
                    @Html.DropDownList("ddlInjectors", new SelectList(string.Empty, "Value", "Text"), new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    <label for="txtStartDateTime" class="col-form-label">Start</label>
                    <input id="dpStartDateTime" type="datetime-local" class="form-control" />
                </div>
                <div class="col-md-3">
                    <label for="txtStartDateTime" class="col-form-label">End</label>
                    <input id="dpEndDateTime" type="datetime-local" class="form-control" />
                </div>
                <div class="col-md-3">
                    <div class="form-row">
                        <div class="col-md-6">
                            <button id="btnResetPeriods" type="button" class="btn btn-md btn-outline-dark btn-block v-label-button">Reset</button>
                        </div>
                        <div class="col-md-6">
                            <button id="btnSearchPeriods" type="button" class="btn btn-md btn-outline-dark btn-block v-label-button">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="pvPeriods">
    @Html.Partial("_Periods", Model)
</div>

@section scripts {

    <script type="text/javascript">

        // onLoad
        $(document).ready(function () {
            let injectorLoaded = LoadInjectors();
        });

        // events
        $("#ddlInjectors").change(() => onChangeInjector());
        $("#btnSearchPeriods").click(() => onClickSearch());
        $("#btnResetPeriods").click(() => onClickReset());

        // functions
        function onChangeInjector() {
            //
        }

        function onClickSearch() {
            debugger
            // Reloead this page with search params
            let selectedInjectorGuid = $("#ddlInjectors").val();
            let startDate = $("#dpStartDateTime").val();
            let endDate = $("#dpEndDateTime").val();
            let data = { "startDate": startDate, "endDate": endDate, "accountGuid": selectedInjectorGuid };
            Everlast.Request.ViewData('@Url.Action("SearchPeriods", "Period")', "pvPeriods", data);
            // SearchPeriods
        }

        function onClickReset() {
            Everlast.Request.ViewData('@Url.Action("SearchPeriods", "Period")', "pvPeriods");
        }

        function LoadInjectors() {
            Everlast.Request.DropData('@Url.Action("GetAvailableInjectors", "Helper")', "ddlInjectors");
        }

    </script>

}