@model Everlast.Models.TimeSlot

@{
    ViewBag.Title = "Read";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Read</h2>

<div>
    <h4>TimeSlot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TimeSlotGuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeSlotGuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountGuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountGuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeSlotStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeSlotStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeSlotEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeSlotEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Available)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Available)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Update", new { timeSlotGuid = Model.TimeSlotGuid, accountGuid = Model.AccountGuid }) |
    @Html.ActionLink("Delete", "Delete", new { timeSlotGuid = Model.TimeSlotGuid, accountGuid = Model.AccountGuid })
</p>
