@model Everlast.Models.Treatment

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    /* 
    
    TODO: show the selected service on the treatments page
    then send the corresponding treatments to the persons email
    whenever they book an appointment with specified service
    
    */

}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Treatment", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.TreatmentGuid)

    <div class="form-horizontal">
        <h4>Treatment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">Select Service</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ServiceGuid, new SelectList(string.Empty, "Value", "Text", Model.ServiceGuid), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ServiceGuid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TreatmentName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TreatmentName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TreatmentName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TreatmentDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model 
     * 
     * 
     * 
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     * 
     * => model.TreatmentDescription, new { @class = "form-control v-text-area" })
                @Html.ValidationMessageFor(model => model.TreatmentDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-outline-dark" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Cancel", "Treatments")
</div>

@section scripts {

    <script type="text/javascript">

        //ready
        $(document).ready(() => {
            LoadServices();
        });

        //events
        $("#ServiceGuid").change(() => onChangeService());


        //functions
        function onChangeService() {
            debugger
            //LoadPeriods();
        }

        function LoadServices() {
            Everlast.Request.DropData('@Url.Action("GetAvailableServices", "Helper")', "ServiceGuid", null, "@Model.ServiceGuid");
            console.log("@Model.ServiceGuid");
        }
    </script>

}