@model IEnumerable<Everlast.Models.Treatment>

@{
    ViewBag.Title = "Treatments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Treatments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TreatmentGuid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceGuid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TreatmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TreatmentDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TreatmentGuid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceGuid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TreatmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TreatmentDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
