@model List<Everlast.Models.Service>
@{
    ViewBag.Title = "Services";
}

<div class="v-cover-section">
    <div class="row v-cover-section-content">
        <div class="col-lg-12 text-center">
            <h1 class="display-1">Services</h1>
            <h2 class="v-header">Check out what we offer.</h2>
        </div>
    </div>
</div>

<div class="row">

    @foreach (Everlast.Models.Service item in Model)
    {
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card v-card text-center">
                <div class="card-header">
                    @item.Title
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        @item.Price
                    </h5>
                    <p class="card-text">
                        @item.Description
                    </p>
                    @Html.ActionLink("Book", "VerifyAccountForAppointment", "Appointment", new { serviceGuid = item.ServiceGuid }, new { @class = "btn btn-outline-dark btn-lg btn-block" })
                </div>
                <div class="card-footer text-muted">
                    @item.Hours Hours and @item.Minutes Minutes
                </div>
            </div>
        </div>
    }

</div>