@model IEnumerable<Everlast.Models.ServiceType>

@{
    ViewBag.Title = "ServiceTypes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ServiceTypes</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-sm btn-outline-dark" })
    @Html.ActionLink("Dashboard", "Home", "Account", null, new { @class = "btn btn-sm btn-outline-dark" })
</p>
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                Service Type Name
            </th>
            <th>
                Options
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceTypeName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Update", new { serviceTypeGuid = item.ServiceTypeGuid }, new { @class = "btn btn-sm btn-outline-dark"})
                    @Html.ActionLink("Details", "Read", new { serviceTypeGuid = item.ServiceTypeGuid }, new { @class = "btn btn-sm btn-outline-dark" })
                    @Html.ActionLink("Delete", "Delete", new { serviceTypeGuid = item.ServiceTypeGuid }, new { @class = "btn btn-sm btn-outline-dark" })
                </td>
            </tr>
        }

</table>
