@model Everlast.Models.Appointment

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Appointment", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.AppointmentGuid)
    @Html.HiddenFor(model => model.ClientGuid)

<div class="form-horizontal">
    <h4>Appointment</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label class="control-label col-md-2">Select Injector</label>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.InjectorGuid, new SelectList(string.Empty, "Value", "Text", Model.InjectorGuid), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.InjectorGuid, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Select Service</label>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ServiceGuid, new SelectList(string.Empty, "Value", "Text", Model.ServiceGuid), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ServiceGuid, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Select Day</label>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.PeriodGuid, new SelectList(string.Empty, "Value", "Text"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PeriodGuid, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Select Time</label>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.AppointmentStart, new SelectList(string.Empty, "Value", "Text"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AppointmentStart, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="btnSubmit" type="submit" value="Book Now" class="btn btn-lg btn-outline-dark" />
        </div>
    </div>
</div>
}

@section scripts {

    <script type="text/javascript">

        // onLoad
        $(document).ready(function () {
            let injectorLoaded = LoadInjectors();
            let serviceLoaded = LoadServices();
            let periodLoaded = LoadPeriods();
            let appointmentLoaded = LoadAvailability();
        });

        // events
        $("#InjectorGuid").change(() => onChangeInjector());
        $("#ServiceGuid").change(() => onChangeService());
        $("#PeriodGuid").change(() => onChangePeriods());

        // functions
        function onChangeInjector() {
            LoadPeriods();
            $("#AppointmentStart").empty();
        }

        function onChangeService() {
            LoadPeriods();
        }

        function onChangePeriods() {
            LoadAvailability();
        }

        function LoadInjectors() {
            Everlast.Request.DropData('@Url.Action("GetAvailableInjectors", "Helper")', "InjectorGuid");
        }

        function LoadServices() {
            Everlast.Request.DropData('@Url.Action("GetAvailableServices", "Helper")', "ServiceGuid", null, "@Model.ServiceGuid");
            console.log("@Model.ServiceGuid");
        }

        function LoadPeriods() {
            let accountGuid = document.getElementById("InjectorGuid");

            if (accountGuid.value == "" || accountGuid.value == "00000000-0000-0000-0000-000000000000") {
                return;
            } else {
                $("#PeriodGuid").empty();
                let data = { "accountGuid": accountGuid.value };
                Everlast.Request.DropData('@Url.Action("GetAvailablePeriods", "Helper")', "PeriodGuid", data);
            }
        }

        function LoadAvailability() {
            let accountGuid = document.getElementById("InjectorGuid");
            let serviceGuid = document.getElementById("ServiceGuid");
            let periodGuid = document.getElementById("PeriodGuid");
            let appointmentStart = document.getElementById("AppointmentStart");

            if (accountGuid.value == "" ||
                serviceGuid.value == "" ||
                periodGuid.value == "" ||
                accountGuid.value == "00000000-0000-0000-0000-000000000000" ||
                accountGuid.value == "00000000-0000-0000-0000-000000000000" ||
                periodGuid.value == "00000000-0000-0000-0000-000000000000") {
                return;
            } else {
                $("#AppointmentStart").empty();
                let data = { "accountGuid": accountGuid.value, "serviceGuid": serviceGuid.value, "periodGuid": periodGuid.value };
                Everlast.Request.DropData('@Url.Action("GetAvailableAppointmentsFromInjector", "Helper")', "AppointmentStart", data);
            }
        }

    </script>

}
