@model Everlast.ViewModels.AppointmentViewModel

@{
    ViewBag.Title = "Read";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Read</h2>

@Html.HiddenFor(model => model.AppointmentGuid)

<div class="jumbotron">
    <div class="row">
        <div class="col-lg-12">
            <h4>Appointment</h4>
            <hr />
        </div>
        <div class="col-lg-12">
            <dl class="dl-horizontal">
                <dt>
                    Appointment:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Title) - $@Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                    Appointment Start:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AppointmentStart)
                </dd>

                <dt>
                    Appointment End:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AppointmentEnd)
                </dd>

                <dt>
                    Client:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ClientName)
                </dd>

                <dt>
                    Injector:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.InjectorName)
                </dd>
            </dl>
        </div>
        <div class="col-lg-12">
            <div id="pvTreatment">
                @{
                    Html.RenderAction("_Treatment", "Treatment", new { serviceGuid = Model.ServiceGuid });
                }
            </div>
        </div>
    </div>
</div>
