@model Everlast.Models.Appointment

@{
    ViewBag.Title = "Read";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Read</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AppointmentGuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentGuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientGuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientGuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InjectorGuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InjectorGuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceGuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceGuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeriodGuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeriodGuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentEnd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Update", new { /* id = Model.PrimaryKey */ }) |
</p>
